body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  outline: none;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #e3f2fd;
}

.btn {
  font-size: 1rem;
  font-weight: 500;
  color: #ffffff;
  border: none;
  padding: 0.5rem 3.5rem;
}

.btn-left {
  border-radius: 0.2rem 0 0 0.2rem;
  background-color: #5e35b1;
}

.btn-right {
  border-radius: 0 0.2rem 0.2rem 0;
  background-color: #1e88e5;
}

.card {
  width: 20rem;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 0.4rem;
  padding: 1rem;
  margin-top: 1.5rem;
}

input {
  font-size: 0.9rem;
  font-weight: 400;
  background-color: #ffffff;
  border: 2px solid #ccc;
  border-radius: 0.3rem;
  padding: 0.5rem 0.9rem;
}

.submit-btn {
  border-radius: 0.2rem;
  background-color: #5e35b1;
  margin-top: 1rem;
}

.content {
  width: 26rem;
  margin-top: 2rem;
  border: 2px dashed #8865c7;
  padding: 1rem 1rem;
  border-radius: 0.5rem;
}

label {
  font-size: 0.8rem;
  font-weight: 500;
  color: #a984ee;
}

p {
  font-size: 1rem;
  font-weight: 500;
  margin-top: 0.5rem;
  white-space: pre-wrap;
  word-wrap: break-word;
}
